header {
  border-bottom: 5px solid gray;
}

nav {
  list-style: none;
  display: flex;
  padding: 10px;
  gap: 10px;
}

a {
  font-size: clamp(1.7rem, 1.8vw, 1.9rem);
  color: black;
  text-decoration: none;
}

a:focus, a:hover {
  text-decoration: underline;
}