header {
  background: black ;
  padding: 20px;
}
.resize-img{
  width: clamp(150px, 10vw, 200px);
}
header nav {
  display: flex;
  list-style: none;
  padding: 10px;
  gap: 40px;
}
nav a {
  font-size: clamp(1.7rem, 1.8vw, 1.9rem);
  color: #0091FF;
  text-decoration: none;
} 
nav a:focus, nav a:hover {
  color: hsl(209, 100%, 68%);
}

.btn-menu-color{
  color: #0091FF;
}

.btn-menu-size{
  font-size: clamp(1.7rem, 1.8vw, 1.9rem);
}