.c-footer{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 10px;
  background: linear-gradient(to top, black, #222 );
}

.c-footer-generico{
  width: 50%;
  text-align: center;
}

.c-logo-footer{
  width: 40%;
}

.c-ul-footer{
  text-align: center;
}

.c-ul-footer ul{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.c-footer .btn{
  min-width: 80px;
}

.img-icon-footer{
  width: clamp(30px, 1vw, 70px);
}

@media screen and (min-width: 900px){
  .c-ul-footer ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    gap: 10px;
  }
}
@media screen and (max-width: 900px){
  .c-ul-footer ul{
    gap: 10px;
  }
}

@media screen and (max-width: 450px){
  .c-footer{
    flex-direction: column;
    gap: 20px;
  }
}