<div class="c-painel">
  <h2 class="title-painel title-page">Painel Administrativo Blog</h2>
  <div class="c-btn-new">
    <a class="btn btn-primary fs-4" href="admin/newPost">CRIAR POST</a>
  </div>
 
  
  <div class="c-table">
    <table border="1" class="table table-striped ">
      <thead>
        <tr class="text-center">
          <th class="title-thead">ID</th>
          <th class="title-thead">TÍTULO</th>
          <th class="title-thead">OPÇÃO</th>
          <th class="title-thead">OPÇÃO</th>
        </tr>
      </thead>
      <tbody class="text-center">
        {% for post in postagens %}
          <tr class="linha">
            <th>{{post.id}}</th>
            <th class=" ">{{post.titulo}}</th>
            <th><a class="btn-alter btn btn-warning btn-config fs-4" href="/admin/alter/{{post.id}}">Alterar</a></th>
            <th><a class="btn-delete btn btn-danger btn-config fs-4" data-url="/admin/delete/{{post.id}}" data-method="POST" data-id="{{post.id}}">Deletar</a></th>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script src="/../assets/js/admin/delete.js">

</script>