<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/../assets/css/vendorNpm/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/../assets/css/{{fileCSS}}/{{fileCSS}}.css">
  <link rel="stylesheet" href="/../assets/css/estrutura/estrutura.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="icon" href="#"/>
</head>

<body>
  <div class="c-template-dinamico">
    <header class="flex-between">
      <div class="c-logo">
        <img src="/../assets/imgs/logo/logo-minimal-ch.png" alt="logo chdev" class="resize-img">
      </div>
      <nav class="navbar d-block d-sm-none">
        <div class="container-fluid ">
          
          <button class="navbar-toggler bg-primary " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
            <span class=""><img src="/../assets/imgs/navbar/menu-icon.svg" alt=""></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 text-center gap-4">
                <li><a class="btn btn-dark w-100 btn-menu-color btn-menu-size" href="/home">HOME</a></li>
                <li><a class="btn btn-dark w-100 btn-menu-color btn-menu-size" href="/sobre">SOBRE</a></li>
                <li><a class="btn btn-dark w-100 btn-menu-color btn-menu-size" href="/admin">ADMIN</a></li>
              </ul>
            </div>
            <p class="text-center">Carlos Henrique | © 2023</p>
          </div>
        </div>
      </nav>
      <nav class="d-none d-sm-flex">
        <li><a href="/home">HOME</a></li>
        <li><a href="/sobre">SOBRE</a></li>
        <li><a href="/admin">ADMIN</a></li>
      </nav> 
    </header>
    <main class="c-dinamico">
      {{typeTemplateDinamico}}
    </main>
    <footer class="mb-0  border-top ">
      <div class="c-footer bg-black-200">
        <div class="c-ul-footer  c-footer-generico">
          <ul class="nav fs-4">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">HOME</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">SOBRE</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">ADMIN</a></li>
          </ul>
        </div>
        <div class="c-logo-footer c-footer-generico"> 
          <img class="resize-img  " src="/../assets/imgs/logo/logo-minimal-ch.png" alt="logo chdev">
        </div>
        
        <div class="c-ul-footer c-footer-generico">
          <ul class="nav fs-4">
            <li>
              <a href="https://t.me/KnotMaxx" target="_blank">
                <span>Telegram</span>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/chdev__/" target="_blank">
                <span>Instagram</span>
               </a>
            </li>
            <li>
              <a href="https://api.whatsapp.com/send?phone=5581973381139" target="_blank">
                <span>Whatsapp</span>
              </a>
            </li>
          </ul>
        </div>
        
      </div>
      <div class="bg-black w-100 p-3">
        <p class="col-md-4 mb-0 text-white text-center w-100">Carlos Henrique © 2023 </p>
      </div>
    </footer>
    <footer class="d-none py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">About</a></li>
      </ul>
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
        <li class="nav-item">
          <a href="https://t.me/KnotMaxx" target="_blank">
            <span>Telegram</span>
          </a>
        </li>
        <li>
          <a href="https://www.instagram.com/chdev__/" target="_blank">
            <span>Instagram</span>
            </a>
        </li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=5581973381139" target="_blank">
            <span>Whatsapp</span>
          </a>
        </li>
      </ul>
      <div class="bg-black w-100 p-3">
        <p class="col-md-4 mb-0 text-white text-center w-100">Carlos Henrique © 2023 </p>
      </div>
    </footer>
  </div>
  <script src="/../assets/js/bootstrapJS/bootstrap.bundle.min.js"></script>
</body>
</html>
