        <article class="c-post">
                <div class= "c-conteudo-post">
                    <h1>{{postagens.titulo}}</h1>
                    <img src="/../../assets/imgs/background-tech.webp" alt="img banner" class="banner-post">
                    
                    {{postagens.conteudo}}
                </div>
                <aside class="aside-post">
                    <div class="c-aside-post">
                        <div>
                            <img src="/../../assets/imgs/background-tech.webp" alt="">
                        </div>
                        <div>
                            <img src="/../../assets/imgs/background-tech.webp" alt="">
                        </div>
                        <div>
                            <img src="/../../assets/imgs/background-tech.webp" alt="">
                        </div> 
                    </div>   
                </aside>
            </article>
        </article>