*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  font-size: 62.5%;
}

body{
  width: 100%;
  min-height: 100vh;
  font-family: sans-serif;
  background-color: black;
  background-image: url("/../../assets/imgs/background-tech.webp");    
  background-size: cover;
  background-repeat: no-repeat;
}

.c-template-dinamico{
  margin: 0 auto;
  width: 90%;
  max-width: 1000px;
  min-height: 100vh;
  background-color: aliceblue;
  border: 1px solid black;
  box-shadow: 1px 1px 1px black;
} 

