.c-dinamico{
  padding: 20px;
}

.c-painel a{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.c-painel h2{
  padding: 0px;
}

.c-painel h2 .admin-icon{
  width: clamp(9rem, 3.4vw,3.8rem);
}

.c-painel table a{
  max-width: 90px;
  margin: 0 auto;
}

.c-btn-new{
  display: flex;
  justify-content: end;
  padding: 10px;
  padding-bottom: 20px;
}

.title-thead{
  font-size: clamp(1.6rem, 1.6vw, 2.2rem);
}

.th-title{
  width: 400px;
  max-width: 400px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

.linha th{ 
  vertical-align: middle;
  color: #333;
  font-size: clamp(1.3rem, 1.3vw, 1.7rem);
}

.admin-icon{
  width: clamp(3rem, 3vw,3.6rem);
}

.alter-icon{
  width: clamp(2.8rem, 2.8vw,3.2rem);
}

