.flex-around{
  display: flex;
  justify-content: space-around; 
  align-items: center;
}

.flex-between{
  display: flex;
  justify-content: space-between; 
  align-items: center;
}

.title-page{
  font-size: clamp(2.8rem,2.8vw,3.5rem);
  text-align: center;
  padding: 20px;
  padding-top: 30px;
  color: #000000;
  margin: 0;
}

.bg-black{
  background: black;
}

.bg-black-200{
  background: #222;
}