.c-dinamico{
  padding: 20px;
}

.c-btn-alterPost .btn{
  font-size: clamp(1.6rem, 1.6vw,1.8rem);
}

.title-label-alterPost{
  font-size: clamp(2rem, 2vw, 2.4rem);
}

.texts-alterPost{
  font-size: clamp(1.8rem, 1.8vw, 2.2rem);  
}